.wrapper {
  width: 100%;
}

.mainContents {
}

/* Page Contents */
.pageContents {
  display: flex;
  border-top: var(--border-w-min) solid var(--border-primary);
}

.pageMain {
  width: var(--page-main-width);
  padding: var(--spacing-4);
  border-right: var(--border-w-min) solid var(--border-primary);
}

.postContent {
  padding: var(--spacing-4);
  border: var(--border-w-default) solid var(--border-primary);
  border-radius: var(--radius-16);
  background: var(--non-colored-white);
}

.shareBtns {
  margin-top: var(--spacing-8);
  padding: var(--spacing-4);
  border: var(--border-w-default) solid var(--border-primary);
  border-radius: var(--radius-8);
  background: var(--non-colored-white);
}

.shareBtns h2 {
  margin-bottom: var(--spacing-4);
  font-size: var(--font-size-18);
}

.shareBtns ul {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.shareBtns ul li a {
  display: block;
  padding: var(--spacing-2) var(--spacing-4);
  border: var(--border-w-min) solid var(--border-primary);
  border-radius: var(--radius-4);
  background: var(--theme-color-surface);
}

.shareBtns ul li a:hover {
  color: var(--theme-color-surface-inverse);
  background: var(--theme-color-primary);
}
